In [12]:
import pandas as pd
import requests

# Set headers
headers = requests.utils.default_headers()
headers.update({ 'User-Agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:52.0) Gecko/20100101 Firefox/52.0'})
from bs4 import BeautifulSoup

page = 1

product_name = []

product_price =[]

no_pages = int(input("Enter The Number of pages to scrap :"))
    
while page < no_pages:
    
    strings = "https://www.flipkart.com/search?sid=tyy%2C4io&otracker=CLP_Filters&p%5B%5D=facets.type%255B%255D%3DSmartphones&p%5B%5D=facets.rating%255B%255D%3D1%25E2%2598%2585%2B%2526%2Babove&page=" + str(page)

    req = requests.get(strings, headers)

    soup = BeautifulSoup(req.content, 'html.parser')

    a = soup.prettify

    name = soup.find_all( "div" ,class_ = '_3wU53n')
    
    price = soup.find_all(class_ ="_1vC4OE _2rQ-NK")
    
    for each in name:

        product_name.append(each.text) 
        
    for one in price:
        
        product_price.append(one.text)
        
        
    page +=1

print(len(product_price))
print(len(product_name))

Enter The Number of pages to scrap :30
600
600

In [13]:
data = {"Product Name" : product_name,"Product Price" : product_price}

df = pd.DataFrame(data)

df

                              Product Name Product Price
0     Realme Narzo 10 (That Green, 128 GB)       ₹11,999
1     Realme Narzo 10 (That White, 128 GB)       ₹11,999
2      Infinix Hot 8 (Quetzal Cyan, 64 GB)        ₹7,999
3        Infinix Hot 8 (Shark Grey, 64 GB)        ₹7,999
4            Realme 6 (Comet Blue, 128 GB)       ₹15,999
..                                     ...           ...
595  Panasonic Eluga Ray 530 (Blue, 32 GB)        ₹8,999
596    Samsung Galaxy Core 2 (White, 4 GB)        ₹6,199
597         Vivo V15 (Frozen Black, 64 GB)       ₹21,099
598    Infinix S4 (Twilight Purple, 64 GB)        ₹9,599
599      Asus ZenFone Max M2 (Blue, 64 GB)        ₹8,999

[600 rows x 2 columns]